{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Commands history</h1>
</br>
</br>
<div class="container">
    <div class="row">
        <div class='col-sm-4'>
            <form class="form-group" action="" method="post"> {% csrf_token %}
              <p>
            <label for="SelectMonth">Filter by Month:</label>
            <input type="text" class="form-control mb-2" name="date" placeholder="01-2019" autocomplete="off" id='datepickermonth'>
            <button type="submit" class="btn btn-primary mb-2">Go</button>
          </p>
            </form>
        </div>
        <div class='col-sm-4'>
            <form class="form-group" action="" method="post"> {% csrf_token %}
              <p>
            <label for="SelectMonth">Filter by year:</label>
            <input type="text" class="form-control mb-2" name="date" placeholder="2019" autocomplete="off" id='datepickeryear'>
            <button type="submit" class="btn btn-primary mb-2">Go</button>
          </p>
            </form>
        </div>
        <div class='col-sm-4'>
            <form class="form-group" action="" method="post"> {% csrf_token %}
              <p>
            <label for="SelectMonth">Filter by day:</label>
            <input type="text" class="form-control mb-2" name="date" placeholder="01-01-2019" autocomplete="off" id='datepickerday'>
            <button type="submit" class="btn btn-primary mb-2">Go</button>
          </p>
            </form>
        </div>
    </div>
</div>
</br>
</br>
  <h6> Commands for {{ date }} : </h6>
  <table class="table">
              <thead>
                        <tr>
                          <th scope="col">Opreration ID</th>
                          <th scope="col">User</th>
                          <th scope="col">Time</th>
                          <th scope="col">Medicaments</th>
                          <th scope="col">Total price</th>
                          <th scope="col">Comments</th>
                        </tr>
              </thead>
              <tbody>
                        {% for cmd in commands %}
                          <tr>
                            <th scope="row">{{ cmd.id }}</th>
                            <td>{{ cmd.user }}</td>
                            <td>{{ cmd.timestamp }}</td>
                            <td>  {% for med in cmd.Medicaments.all %}
                                    {{ med.title }}
                                  </br>
                                  {% endfor %}
                            </td>
                            <td>{{ cmd.total }}</td>
                            <td>{{ cmd.Comment }}</td>

                          </tr>
                        {% endfor %}
              </tbody>
  </table>
</div>
{% endblock %}
